body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    padding: 40px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    padding: 40px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.work-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.work-image {
    width: calc(48% - 10px);
    margin-bottom: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.work-image:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
}

.hover-link:hover {
    text-decoration: underline;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}